@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Noto Serif', serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    padding: 20px 25px;
    color: #fff;
    cursor: pointer;
    border: 0px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

.nav-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: #131313;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}



.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}




main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-img-contaner {}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.Quick-list {
    color: #727272;
    font-weight: 500;
}

.test-Features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}








/*responsive media queries*/
/*mobile devices*/

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
    /* tablet or medium devices*/
    @media screen and (min-height:576px) and (max-width:960px) {
        header {
            padding: 50px;
        }

        nav, .teams-container {
            flex-direction: column;
        }
    }